body 

{background-color: lightblue;}

#header {color: red;}
#header {font-style: oblique}
#header {text-align: center}
#header {background: white;}

#ingredienten {color: white}

#bereiding {color:darkblue}